.aircraft-label {
  color: #ff0000;
  text-shadow: 1px 1px #404040;
  float: left;
  background: #ccc;
  opacity: .7;
  padding: 1px 5px 1px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 100%;
  white-space: nowrap;
}
